<ion-header>
  <ion-toolbar>
    <ion-buttons slot='end'>
      <ion-button (click)='selectAlbum(this.Albums)'>Ok</ion-button>
    </ion-buttons>
    <ion-title>Choose an album</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-list>
  <ion-item>
    <ion-label>Albums</ion-label>
    <ion-select interface="popover" [(ngModel)]="Album">
      <ng-container *ngFor="let item of Albums" >
        <ion-select-option value={{item}}>{{item}}</ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>
</ion-list>
</ion-content>
