<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Photo Gallery v2.0</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item-divider color="secondary">
      <ion-label> Categories </ion-label>
    </ion-item-divider>

    <!-- Item Dividers in a List -->
    <ion-list *ngFor="let categ of CategoryList; index as position">
      <ion-item-divider>
        <ion-button fill="clear" size="default" [routerLink]="['/categ-photo', categ]"> {{categ}}</ion-button>
      </ion-item-divider>
    </ion-list>
    <ion-fab slot="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button (click)="showAlert()"><ion-icon name="add-outline"></ion-icon></ion-fab-button>
    </ion-fab>
  </ion-content>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
